################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Task/FileContentIndex/6bebd3b5-774c-44ec-a5ff-3eb87c369593.vsidx
/.vs/Task/FileContentIndex/6bebd3b5-774c-44ec-a5ff-3eb87c369593.vsidx
*.vsidx
